.card {
  height: 65px;
  width: 515px;
  background-color: white;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.card h2 {
  margin-bottom: 0px;
}

.card p {
  color: #00000080;
}

.cardContainer {
  display: flex;
  gap: 20px;
  width: 98%;
}

.cardsContainer {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: auto;
  padding-left: 23px;
}

.cardContent {
  margin-top: 55px;
}


@media (max-width: 600px) {
    .cardsContainer{
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .cardContainer{
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* background-image: linear-gradient(to bottom, #e9ddf7, #f1ecec); */
    }

    .card{
      width: 60vw;
      /* text-align: center; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
}